*{
	margin: px;
	padding: 0px;
}
/*FONDO*/
body {
 background-image: url("../images/fondo.jpg");
 font-family: Arial, Helvetica, sans-serif;
}
/*Encabezado*/
header{
	
	height: 70px;
	position: relative;
	margin: 50px;
	top: 45px;
	padding-left: 30%;
	padding-right: 30%;
	background-image: url("../images/fondo_mascota.png");
	border: 2px solid #313131;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	margin: 0px;
	height: 70px;
	text-align: center;
	font-family: monospace;
	font-size: 48px;
	color: white;
	background: #313131;
}
/*MENÚ*/
.imagen{
	position: fixed;
	z-index: 2;
	top: -15px;
	left: 80px;
}
.imagen img{	
	width: 95px;
}
nav{
	position: fixed;
	top: -40px;
	padding: 0px;
	margin: 15px;
	width: 1820px;
	height: 100px;
	background-color: #313131;
	z-index: 1;
}
nav ul{
	padding-left: 40px;
	list-style: none;
	text-align: center;
}
nav ul li{
	display: inline-block;
	padding: 10px;
	height: 84px;
}
nav ul li a{
	padding: 10px;
	display: block;
	color: white;
	font-family: fantasy;
	font-size: 30px;
	text-decoration: none;
	height: 40px;
}
nav ul li:hover {
	background-color: #87a829;
	border: 2px solid;
	color: blank;
}
nav ul li a:hover {
	text-decoration: underline;
}
nav ul li a:active{
	font-size: -45px;
	color: #ffffe9;
}
/*PÍE PÁGINA*/
footer {
	margin: 15px;
	position: fixed;
	background-color: #313131;
	height: 50px;
	margin: 15px;
	width: 1820px;
	bottom: -20px;
}
footer p {
	text-align: center;
	color: white;
}
section {
	margin: 75px;
	background: rgba(82, 82, 82, 0);
}


/*PAGINA CONTACTANOS*/

/*Estilo del Banner*/
#banner {
	background-color: #f3f3f3;
	padding: 80px 20px;
	text-align: center;
	border-radius: 20px;
	border-bottom: 5px solid #dadada;
  	height: 50px;
}
#banner p {
	font-size: 24px;
}

/* Estilo para todos los campos de entrada de texto */
input[type="text"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid #dadada;
  font-size: 18px;
  padding: 15px 0;
  margin-bottom: 25px;
  border-radius: 20px; 
  width: 1000px;

}

/*Ubicacion campos de entrada*/
.form-group{
	position: relative;
	left: 100px;
}

/* Estilo para el campo de entrada de texto del nombre, correo electrónico y ciudad */
input[name="name"],
input[name="email"],
input[name="city"] {
  background-position: 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}

/* Estilo para el campo de entrada de texto del mensaje */
textarea[name="message"] {
  height: 200px;
  resize: none;
  position: relative;
  left: 50px;
}

/* Estilo boton*/
.boton{
	position: relative;
	left: 100px;
	background-color: #4CAF50; 
	border: none; 
	color: white; 
	padding: 15px 32px; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px;
	margin: 20px; 
	cursor: pointer; 
	border-radius: 20px; 
	box-shadow: 0px 5px 0px #4a7e4c; 
}
.boton:hover{
	transform:scale(0.9);
	border-radius: 30px;
}
/*Estilo para la informacion de contacto, dirección y horarios*/
.contact{
	margin: 20px;
}
.hours{
    float: left;
	margin-bottom: 70px;
	width: 30%;
}
.social_network {
    float: left;
	width: 35%;
}

.address {
    float: left;
}

/*INICIO*/


.fondo {
    line-height: 24px;
}
.left {
    display: table-cell;
    width: 65%;
    padding: 70px 80px 40px 170px;
    position: relative;
	
}

.cats_dogs {
    border: 10;
    max-width: 100%;
    height: auto;
}

.right {
    display: table-cell;
    width: 29%;
    padding: 70px 40px 40px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    color: #444444;
    text-align: center;
	border-radius: 20px; 
	background: #8b8b8b;
}
.inf {
    padding-bottom: 35px;
    margin-bottom: 20px;
	border: none;
	border-bottom: 5px solid #dadada;
	font-size: 18px;
	padding: 15px 0;
	margin-bottom: 5px;
	border-radius: 20px; 
	background: #f0f0f0;
}

h4 {
    margin: 0 0 20px;
    font-size: 19px;
    line-height: 25px;
    color: #232323;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: aracnereg,Arial,Verdana,sans-serif;
    font-weight: 400;
}
.obj1{
  border: none;
  border-bottom: 5px solid #dadada;
  margin-bottom: 5px;
  border-radius: 20px; 
  background: #f0f0f0;
}
.obj1:hover{
	border-radius: 30px;
	transform:scale(0.9);
}
.obj2{
	border: none;
	border-bottom: 5px solid #dadada;
	background: #f0f0f0;
	margin-bottom: 5px;
	border-radius: 20px; 
  }
 .obj2:hover{
	border-radius: 30px;
	transform:scale(0.9);
}
.obj3{
	border: none;
	border-bottom: 5px solid #dadada;
	background: #f0f0f0;
	margin-bottom: 5px;
	border-radius: 20px; 
  }
 .obj3:hover{
	border-radius: 30px;
	transform:scale(0.9);
}
.welcome{
	margin: 0 0 20px;
    font-size: 25px;
    line-height: 25px;
    color: #232323;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: aracnereg,Verdana,sans-serif;
    font-weight: 400;
	border: none;
	border-bottom: 5px solid #dadada;
	background: #f0f0f0;
	margin-bottom: 5px;
	border-radius: 20px; 

}
.present{
	border-bottom: 5px solid #dadada;
	background: #f0f0f0;
	margin-bottom: 5px;
	border-radius: 10px; 
    text-align: center;
}

/*CONSEJOS-PRODUCTOS*/

/*Imagenes Centro*/
.centro {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-style: solid;
	transition: all 0.5s ease;
	border-style: solid;
	border-color: black;
}
img:hover{
	transform:scale(0.9);
	border-radius: 30px;
}
*{
	box-sizing: border-box;
}

/*SERVICIO*/

/*Tabla*/
.tabla{
	font-family: Arial;
	margin: 150px auto;
	width: 600px;
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%
}
th, td{
	border: solid 1px black;
	padding: 20px;
}
th{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(odd){
	background-color: #ddd;
}
tr:hover td{
	background-color: #369681;
	color: white;
}

/* CONSEJOS DE SALUD*/
.bodyConsejos {
    background-color: #87a829;
}
  .tituloConsejos {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#313131;
    color:#ffffe9;
    width: 99%;
    margin: 0;
    padding: 10px;
  }  
.articulo{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#313131;
    padding-top: 10px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 5%;
    background-image: url("../images/FondoHuellas.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.tituloArticulo {
    font-size: 35px;
    text-align: center;
}
.consejo {
    font-size: 30px;
    text-align: center;
}
.contenidoArticulo {
    font-size: 25px;
}
.imagenesArticulos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SUCURSALES*/
.sedes{
	margin: 80px;
	height: 900px;
}
.sede{
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 400px;
	margin: 50px;
	text-align: center;
	background-color: rgba(167, 167, 167, 0.692);
}
.sede h3 {
  color: grey;
  font-size: 18px;
}
.sede p{
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.sede img{
	width:100%
}

/*PRODUCTOS*/

.productos{
	height: 900px;
}
.tarjetas {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border-color: rgba(85, 85, 85, 0.623);
  perspective: 1000px; 
  border-radius: 30px;
  float:left;  
  margin: 100px;
}

.tarjeta {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 30px;
}
.tarjetas:hover .tarjeta {
  transform: rotateY(180deg);
}

.tarjetas_frente, .tarjetas_dorso {
  position: absolute;
  width: 100%;
  height: 150%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 30px; 	
}

.tarjetas_frente {
  background-color: #bbbbbb00;
  color: rgba(0, 0, 0, 0);
  border-radius: 30px;
}

.tarjetas_dorso {
  background-color: rgb(122, 122, 122);
  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;
}
.prod{
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	background: rgb(92, 92, 92);
}
.img_tarjeta{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-style: solid;
	transition: all 0.5s ease;
	border-style: solid;
	border-color: rgba(85, 85, 85, 0.623);
	border-radius: 30px;
	width:300px;
	height:300px;
}