<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<nav th:fragment="footer">
			<ul>		
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/productos/listado}">Productos</a></li>
				<li><a th:href="@{/consejos/listado}">Consejos de Salud</a></li>
				<li><a th:href="@{/servicio/listado}">Servicios de paseos</a></li>
				<li><a th:href="@{/sucursal/sucursales}">Sucursales</a></li>
				<li><a th:href="@{/contactanos}">Contáctanos</a></li>
			</ul>
		</nav>
	</body>
</html>