 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body > 
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/index}" >
		          <i class="bi bi-flower1" ></i>
		          <span class="text-warning"><img class="logo"  th:src="@{/images/petshop_logo.png}" alt="logo mascota" title="Logo tienda de mascotas"></span>
		        </a>
				
				<button class="navbar-toggler"  th:href="@{/index}" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
    			
    			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    				<div class="navbar-nav ">	
							<a class="nav-link active" th:href="@{/index}">Inicio</a>
							<a class="nav-link" th:href="@{/producto/listado}">Productos</a>
							<a class="nav-link" th:href="@{/consejo/consejos}">Consejos de Salud</a>
							<a class="nav-link" th:href="@{/servicio/servicios}">Servicios de paseos</a>
							<a class="nav-link" th:href="@{/sucursal/sucursales}">Sucursales</a>
							<a class="nav-link" th:href="@{/contactanos}">Contáctanos</a>
					</div>
    			</div>
			</div>
			<div class="toggle"></div>
		</nav>
		 <!-- 
		 <nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Navbar</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Link</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Dropdown
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="#">Action</a></li>
		            <li><a class="dropdown-item" href="#">Another action</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" href="#">Something else here</a></li>
		          </ul>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link disabled">Disabled</a>
		        </li>
		      </ul>
		      <form class="d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit">Search</button>
		      </form>
		    </div>
		  </div>
		</nav>
		<script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	-->
	</body>
</html>
 