<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<nav th:fragment="footer">
			<ul>		
				<li><a href="index">Inicio</a></li>
				<li><a href="productos">Productos</a></li>
				<li><a href="consejos">Consejos de Salud</a></li>
				<li><a href="servicio">Servicios de paseos</a></li>
				<li><a href="sucursales">Sucursales</a></li>
				<li><a href="contactanos">Contáctanos</a></li>
			</ul>
		</nav>
	</body>
</html>