<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Noticias</title>
<link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Noticias</h1>
	</header>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<a class="boton_consejo" th:href="@{/consejo/nuevo}">Agregar
		Artículo</a>
	<section class="sedes">

		<div class="sede" th:each="lista_consejos : ${consejos}">
			<img th:src="@{/images/}+${lista_consejos.imagen}" alt="Imagen articulo" 
				style="width: 400px; height: 300px;">
			<h3>
				<td th:text="${lista_consejos.titulo}"></td>
			</h3>
			<p>
				<td th:text="${lista_consejos.descripcion}"></td>
				<br>
			</p>
			
			<br> <a th:href="@{/consejo/editar/}+${lista_consejos.titulo}">Editar</a>
			<a th:href="@{/consejo/eliminar/}+${lista_consejos.titulo}">Eliminar</a>
		</div>

	</section>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>