<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scaleble=no">
		<title>Noticias</title>
		<link th:href="@{/css/estilos.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> 
		</head>
	<body>
		<header>
			<h1>Noticias</h1>
		</header>
		<a th:replace="~{layouts/logo :: logo}"></a>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		
		
		<section class="container-fluid sedes">
	
			<div class="sede" th:each="lista_consejos : ${consejos}">
				<img th:src="@{/images/}+${lista_consejos.imagen}" alt="Imagen articulo" 
					style="width: 400px; height: 300px;">
					
				<h3 class="text-dark" th:text="${lista_consejos.titulo}"></h3>
				<a th:href="@{/consejo/editar/}+${lista_consejos.titulo}"><i class="editar-consejo fa-regular fa-pen-to-square"></i></a>
				<a th:href="@{/consejo/eliminar/}+${lista_consejos.titulo}"><i class="eliminar-consejo fa-solid fa-trash-can"></i></a>
				<p th:text="${lista_consejos.descripcion}"></p>
			</div>
	
		</section>
		<div class="guardar">
			<a th:href="@{/consejo/nuevo}"><i class="agregar fa-solid fa-circle-plus"></i></a>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script src="https://kit.fontawesome.com/f80946207f.js"></script>
		<script src="https://kit.fontawesome.com/f80946207f.js" crossorigin="anonymous"></script>
	</body>
</html>