<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Consejos de Salud</title>
		</head>
			
		<body>
			<h1> Cómo prevenir la obesidad en las mascotas</h1>
			<p> La obesidad es un problema creciente en las mascotas, 
			y puede llevar a problemas de salud graves como la diabetes 
			y enfermedades cardíacas. 
			Este artículo ofrece consejos sobre cómo prevenir la obesidad en las mascotas, 
			incluyendo alimentarlas con una dieta equilibrada y limitar las golosinas.</p>
		</body>
	</html>