<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contáctanos</title>
		<link href="../static/css/estilos.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Contáctenos</h1>
		</header>
		<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
		<nav>
	  				<ul>
	  					 
	  					  <li><a href="index.html">Inicio</a></li>
						  <li><a href="productos.html">Productos</a></li>
						  <li><a href="consejos.html">Consejos de Salud</a></li>
						  <li><a href="servicio.html">Servicios de paseos</a></li>
						  <li><a href="sucursales.html">Sucursales</a></li>
						  <li><a href="contactanos.html">Contáctanos</a></li>
	  				</ul>
		</nav>
		

		<section id="banner">
			<p>¿Tienes alguna pregunta o comentario? ¡Nos encantaría saber de ti!</p>
		</section>
		  <form>
			<div class="form-group">
			  <label for="name">Nombre*</label>
			  <input type="text" id="name" name="name" placeholder="Ingresa tu nombre">
			</div>
		  
			<div class="form-group">
			  <label for="email">Correo electrónico*</label>
			  <input type="text" id="email" name="email" placeholder="Ingresa tu correo electrónico">
			</div>

			<div class="form-group">
				<label for="city">Ciudad</label>
				<input type="text" id="city" name="city" placeholder="Ingresa tu ciudad">
			</div>
		  
			<div class="form-group">
			  <textarea id="message" name="message" placeholder="Escribe tu mensaje aquí"></textarea>
			</div>
			<button class="boton">Enviar</button>
		  </form>

		  <section class="contact">
			<div class="hours">
				<h2>Horarios de Atención</h2>
				<a>Lunes: 9:00 a.m. a 8:00 p.m.</a><br>
				<a>Mertes: 9:00 a.m. a 8:00 p.m.</a><br>
				<a>Miercoles: 9:00 a.m. a 8:00 p.m.</a><br>
				<a>Jueves: 9:00 a.m. a 8:00 p.m.</a><br>
				<a>Viernes: 9:00 a.m. a 8:00 p.m.</a><br>
				<a>Sábado: 9:00 a.m. a 12:30 p.m.</a><br>
			</div>
			
			<div class="social_network">
				<h2>Redes Sociales</h2>
				<a href="#">Facebook</a><br>
				<a href="#">Instagram</a><br>
				<a href="#">Twitter</a><br>
				<a href="#">TikTok</a><br>
			</div>

			<div class="address">
				<h2>Direccíon y contactos</h2>
				<a>3915 Av. General Belgrano</a><br>
				<a>388-4999999</a><br>
				<a href="#">petshop@gmail.com.ar</a><br>
			</div>
			
		</section>
		
		<footer>
     			<p> &copy; Copyright 2023 PetShop Diseñado por Grupo 24 – Jujuy – República Argentina</p>	
				
			</footer>
	</body>
</html>