<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contáctanos</title>
		<link href="../static/css/estilos.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Contáctenos</h1>
		</header>
		<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
		<nav>
	  				<ul>
	  					 
	  					  <li><a href="index.html">Inicio</a></li>
						  <li><a href="Productos.html">Productos</a></li>
						  <li><a href="consejos.html">Consejos de Salud</a></li>
						  <li><a href="Servicio.html">Servicios de paseos</a></li>
						  <li><a href="sucursales.html">Sucursales</a></li>
						  <li><a href="contactanos.html">Contáctanos</a></li>
	  				</ul>
		</nav>
		<section>
		<p>3915 Av. General Belgrano, 388-4999999 <br>Lunes a viernes: 9:00 a.m. a 8:00 p.m.,<br>Sábado a domingo: 9:00 a.m. a 12:30 p.m.<br><a href="#">contactos@mail.com.ar</a> </p>
		</section>
		<section>
		<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Twitter</a></li>
  		</ul>
  		</section>
  		<section>
		<label>Nombre:</label>
		<input type="text" name="nombreurl" placeholder="Ingrese su nombre"><br><br>
		<label>Email:</label>
		<input type="text" name="emailurl" placeholder="Ingrese un email válido"><br><br>
		<label>Ciudad:</label>
		<input type="text" name="ciudadurl" placeholder="Ingrese su ciudad"><br><br>
		<label>Mensaje:</label>
		<textarea name="mensajeurl" cols="50" rows="5"></textarea><br><br>
		<input type="submit" value="Enviar">
		</section>
		<footer>
     			<p> &copy; Copyright 2023 PetShop Diseñado por Grupo 24 – Jujuy – República Argentina</p>	
    	</footer>
	</body>
</html>