<!DOCTYPE html>
	<html lang="esp">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
		</head>
		<body>
			<header>
				<h1>Pet Shop</h1>
				<img src="../static/images/LogoPetShop.png" 
				alt="Dos perros en frente de una casa para perro"
				title="Logo tienda de mascotas"
     			width="400"
     			height="341">
			</header>
			<aside >
				<p>¡Bienvenido a nuestra tienda de mascotas! Nos dedicamos a ofrecer productos y servicios de alta calidad para el cuidado de tus amigos peludos. Además de nuestra amplia variedad de productos para perros, gatos, aves, peces y otros animales domésticos, ofrecemos servicios de paseo y cuidado para mascotas para asegurarnos de que tu mascota se vea y se sienta lo mejor posible.</p>
			</aside>
			<nav class="menu">
  				<ul>
  					  <li><a href="index.html">Inicio</a></li>
					  <li><a href="Productos.html">Productos</a></li>
					  <li><a href="#">Consejos de Salud</a></li>
					  <li><a href="#">Servicios de paseos</a></li>
					  <li><a href="#">Sucursales</a></li>
					  <li><a href="#">Contáctanos</a></li>
  				</ul>
			</nav>
			
			<section>
 				 <h2>Nuestro Objetivo</h2>
  
	  			<article>
	   				<h3>Ofrecer productos y servicios de alta calidad</h3>
	    			<p>En nuestra tienda de mascotas, nos enorgullece ofrecer una amplia variedad de productos y servicios de alta calidad para el cuidado de tus mascotas. Desde alimentos y juguetes hasta servicios de peluquería y cuidado de mascotas, estamos comprometidos a brindar a nuestros clientes la mejor selección de productos y servicios para satisfacer las necesidades de sus mascotas.</p>
	  			</article>
	  
	  			<article>
	    			<h3>Promover el cuidado responsable de mascotas</h3>
	    			<p>Creemos que el cuidado responsable de mascotas es crucial para asegurar la salud y felicidad de los animales domésticos. Por esta razón, ofrecemos recursos y consejos útiles sobre el cuidado de mascotas, y promovemos prácticas de tenencia responsable de mascotas en nuestra comunidad.</p>
	  			</article>
	  
	  			<article>
	    			<h3>Brindar una experiencia de compra excepcional</h3>
	    			<p>En nuestra tienda de mascotas, nos esforzamos por brindar una experiencia de compra excepcional para nuestros clientes. Desde el momento en que entras en nuestra tienda, te recibimos con una sonrisa y te brindamos atención personalizada para ayudarte a encontrar los productos y servicios adecuados para tus mascotas.</p>
	  			</article>
			</section>
			
			<footer>
     			<p>Copyright 2023 PetShop Diseñado por Grupo 24 – Jujuy – República Argentina</p>
    		</footer>
		</body>
	</html>