<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scaleble=no">
		<title>Nueva Artículo</title>
		<link th:href="@{/css/estilos.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"> 
	</head>
	<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<header>
		<h1 th:text="${edicion}?'Editar Artículo':'Nuevo Artículo'"></h1>
	</header>
	
	<form class="formulario" th:action="${edicion}?@{/consejo/editar}:@{/consejo/guardar}" th:object="${consejo}" method="post">
		<label for="titulo">Titulo:<i class="fa-solid fa-house"></i></label>
		<input th:if="${edicion}" type="text" id="titulo" name="titulo_consejo" th:field="*{titulo}" readonly="readonly">
		<input th:if="!${edicion}" type="text" id="titulo" name="titulo_consejo" th:field="*{titulo}" required="required" placeholder="Ingresa titulo del articulo." >
		<label for="descripcion">Descripción:<i class="fa-solid fa-street-view"></i></label>
		<input type="text" id="descripcion" name="descripcion_consejo" th:field="*{descripcion}" required="required" placeholder="Ingrese una descripcion"><br><br>
		<label for="image">Imagen:<i class="fa-regular fa-image"></i></label>
		<select th:field="*{imagen}" required="required">
			    <option value="obesidad-perros.jpg">Imagen 1</option>
			    <option value="cat.jpg">Imagen 2</option>
			    <option value="dog.png">Imagen 3</option>
		</select><br>
		<a><input type="submit" th:value="${edicion}?'Guardar Cambios':'Guardar'"></a>
		<div class="cancel">
		      <a  th:href="@{/consejo/consejos}">Cancelar</a>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script src="https://kit.fontawesome.com/f80946207f.js"></script>
	</form>
	</body>
</html>