<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Formulario</title>
		<link th:href="@{/css/estilos.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<header class="encabezado container-sm">
			<div class="row">
				<div class="col-3"></div>
				<h1 class="titulo display-4 col-6">Nuevo</h1>
				<div class="col-3"></div>
			</div>
		</header>
		<form class="container formulario" th:action="${edicion}?@{/producto/modificar}:@{/producto/guardar}" th:object="${producto}" method="post">
			<br>
			<div class="mb-3" th:if="${edicion}">
				<label class="form-label">ID:<i class="fa-solid fa-file-code"></i></label>
				<input class="form-control" type="text" th:field="*{id}" readonly="readonly">
			</div>
			<div class="mb-3" th:if="${edicion}">
				<label class="form-label">Estado:<i class="fa-solid fa-file-code"></i></label>
				<input class="form-control" type="text" th:field="*{estado}" readonly="readonly">
			</div>
			<div class="mb-3">
				<label class="form-label">Código:<i class="fa-solid fa-file-code"></i></label>
				<input class="form-control" th:if="${edicion}" type="text" th:field="*{codigo}" readonly="readonly">
				<input class="form-control" type="text" th:if="!${edicion}" th:field="*{codigo}" placeholder="">
				<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Nombre:<i class="fa-brands fa-product-hunt"></i> </label>
				<input class="form-control" type="text" name="producto_nombre" th:field="*{nombre}" placeholder="Ingrese Nombre del Producto">
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Precio:<i class="fa-solid fa-money-bill"></i> </label>
				<input class="form-control" type="text" th:field="*{precio}" placeholder="Ingrese Precio Producto">
				<div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Categoria:<i class="fa-regular fa-calendar"></i></label>
				<input class="form-control" type="text" th:field="*{categoria}" placeholder="Ingrese Categoría del Producto">
				<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Descuento:<i class="fa-solid fa-wallet"></i></label>
				<input class="form-control"type="text" th:field="*{descuento}" placeholder="Ingrese Descuento del Producto">
				<div class="text-danger" th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Imagen:<i class="fa-regular fa-image"></i></label>
				<select class="form-select" th:field="*{imagen}">
				    <option value="comedorbebedor.png">Bebedero-Comedero</option>
				    <option value="peine.png">Cepillo</option>
				    <option value="rascador.jpg">Rascador</option>
				    <option value="transportador.jpg">Caja Transporte</option>
				    <option value="mochila_transportadora.jpg">Mochila Transporte</option>
				    <option value="kitsanitario.png">Kit sanitario</option>
				</select>
				<div class="text-danger" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
			</div>
			<input class="btn btn-success" type="submit" th:value="${edicion}?'Guardar Cambios':'Guardar'">
			<a th:href="@{/producto/listado}" class="btn btn-secondary" role="button" aria-disabled="true">Cancelar</a>
			<br>
			<br>
		</form>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script src="https://kit.fontawesome.com/f80946207f.js"></script>
	</body>
</html>