<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link href="../static/css/estilos.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Productos</h1>
	</header>
	<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
	<nav>
 				<ul>
 				  <li><a href="index.html">Inicio</a></li>
				  <li><a href="Productos.html">Productos</a></li>
				  <li><a href="consejos.html">Consejos de Salud</a></li>
				  <li><a href="Servicio.html">Servicios de paseos</a></li>
				  <li><a href="sucursales.html">Sucursales</a></li>
				  <li><a href="contactanos.html">Contáctanos</a></li>
 				</ul>
	</nav>
	<section class="productos">

		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/comedorbebedor.jpg.png" alt="comedor y bebedor para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Comedor y Bebedor</p>
					<p>Se usa para poner alimentos tantos liquidos como solidos.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/peine.png" alt="peine para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Peine</p>
					<p>Ideal para mascotas con mucho pelaje, para eliminar los nudos, y desenrredar el pelaje del animal. Y en otro caso quitar el exceso de pelaje.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/rascador.jpg" alt="rascador para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Rascador</p>
					<p>El Rascador para Gatos es ideal para ellos, para evitar las rasgaduras en sofas u colchones, adenas en ella pueden dormir y jugar por su amplia estructura.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/transportador.jpg" alt="Transportador para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Transportadora</p>
					<p>Sirve para transportar al animal, ya sea al veterinario u otros lugares, vienen de distintas formas, tamaños y colores.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/collar.jpg" alt="Collar para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Collar</p>
					<p>Viene de diferentes tamanos desde el Talle 1 hasta el Talle 5, para toda raza de animales, y en diferentes colores y estilos.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/kitsanitario.jpg.png" alt="Kit sanitario para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Kit sanitario</p>
					<p>Es un Kit muy util viene con la pala para levantar las heces del Felino, y para que el Felino no haga sus necesidades en cualquier lugar del hogar.</p>
				</div>
			</div>
		</div>
		<div class="tarjetas">
			<div class="tarjeta">
				<div class="tarjetas_frente">
					<img class="img_tarjeta" src="../static/images/mochila_transportadora.jpg" alt="Mochila transportadora para mascotas" style="width:300px;height:300px;">
				</div>
				<div class="tarjetas_dorso">
					<p class="prod">Mochila transportadora</p>
					<p>Es una mochila muy util, ideal para pasear al Felino o Canino, para llevarlo al parque, o a pasear, tiene una ventana transparente para que el la animal vea, y muy buena ventilacion.</p>
				</div>
			</div>
		</div>
	</section>
	<footer>
     		<p> &copy; Copyright 2023 PetShop Diseñado por Grupo 24 – Jujuy – República Argentina</p>	
    </footer>
</body>
</html>