<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link href="../static/css/estilos.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Productos</h1>
	</header>
	<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
	<nav>
 				<ul>
 				  <li><a href="index.html">Inicio</a></li>
				  <li><a href="Productos.html">Productos</a></li>
				  <li><a href="consejos.html">Consejos de Salud</a></li>
				  <li><a href="Servicio.html">Servicios de paseos</a></li>
				  <li><a href="sucursales.html">Sucursales</a></li>
				  <li><a href="contactanos.html">Contáctanos</a></li>
 				</ul>
	</nav>
	<section>
			<h3>Peine</h3>
			<p>Ideal para mascotas con mucho pelaje, para eliminar los nudos, y desenrredar el pelaje del animal. Y en otro caso quitar el exceso de pelaje.<p>
			<figure><img src="../static/images/peine.png" alt="cat brush" width="400" height="250"></figure>
			<h3>Rascador</h3>
			<p>El Rascador para Gatos es ideal para ellos, para evitar las rasgaduras en sofas u colchones, adenas en ella pueden dormir y jugar por su amplia estructura.<p>
			<figure><img src="../static/images/rascador.jpg" alt="Cats scraper" width="400" height="250"></figure>
			<h3>Transportadora</h3>
			<p>Sirve para transportar al animal, ya sea al veterinario u otros lugares, vienen de distintas formas, tamaños y colores.<p>
			<figure>
				<img src="../static/images/transportador.jpg" alt="animal carrier" width="400" height="250">
			</figure>
			<h3>Comedor y Bebedor</h3>
			<p>Se usa para poner alimentos tantos liquidos como solidos.<p>
			<figure>
				<img src="../static/images/comedorbebedor.jpg.png" alt="feeder and drinker for animals" width="400" height="250">
			<h3>Collar</h3>
			<p>Viene de diferentes tamanos desde el Talle 1 hasta el Talle 5, para toda raza de animales, y en diferentes colores y estilos.<p>
			<figure></figure><img src="../static/images/collar.jpg" alt="animal collar" width="400" height="250"></figure>
			<h3>Kit Sanitario</h3>
			<p>Es un Kit muy util viene con la pala para levantar las heces del Felino, y para que el Felino no haga sus necesidades en cualquier lugar del hogar.<p>
			<figure>
				<img src="../static/images/kitsanitario.jpg.png" alt="sanitary kit for cats" width="400" height="250">
			</figure>
			
			<h3>Mochila Transportadora</h3>
			<p>Es una mochila muy util, ideal para pasear al Felino o Canino, para llevarlo al parque, o a pasear, tiene una ventana transparente para que el la animal vea, y muy buena ventilacion.<p>
		    <figure>
		    	<img src="../static/images/mochila_transportadora.jpg" alt="cat carrier" width="400" height="250">
		    </figure>
	</section>
	<footer>
     		<p> &copy; Copyright 2023 PetShop Diseñado por Grupo 24 – Jujuy – República Argentina</p>	
    </footer>
</body>
</html>