<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Productos</h1>
	</header>
	<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
	<nav th:replace="layouts/nav :: nav"></nav>
	<section th:if="!${#lists.isEmpty(productos)}" class="tarjetas">
		<div th:each="producto : ${productos}"class="tarjeta">
			<div class="tarjetas_frente">
				<img class="img_tarjeta" th:src="@{/images/comedorbebedor.jpg.png}" alt="comedor y bebedor para mascotas" >
			</div>
			<div class="tarjetas_dorso">
				<h2 th:text="${producto.nombre}"></h2>
				<p th:text="${producto.categoria}"></p>
				<p th:text="${producto.precio}"></p>
				<p th:text="${producto.descuento}"></p>
				<p th:text="${producto.calcularDescuento}"></p>
				<a th:href="@{/producto/modificar/}+${producto.codigo}">Modificar</a>
				<a th:href="@{/producto/eliminar/}+${producto.codigo}">Eliminar</a>
			</div>
		</div>
	</section>
	<a th:href="@{/producto/nuevo}">Nuevo Producto</a>
	<footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>