<!DOCTYPE html>
	<html lang="es">
	<head>
	<meta charset="UTF-8">
		<body>
			<h1>Servicio de Paseos:</h1>
			<table style="width: 100%">
			<tr>
				<th>Dias</th>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sabado</th>
			</tr>
			<tr>
				<td>Horario</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
				<td>9 a 12 - 16 a 18</td>
			</tr>
			<tr>
				<td>Paseador</td>
				<td>Juan Perez</td>
				<td>Lucas Diaz</td>
				<td>Juan Perez</td>
				<td>Maria Gomez</td>
				<td>Lucas Diaz</td>
				<td>Maria Gomez</td>
			</tr>
			</table>
	</head>	
		</body>
	</html>