<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
		<meta charset="UTF-8">
		<title>Servicios</title>
		<link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>	
<body>
	<header>
		<h1>Servicio de Paseos</h1>
	</header>
	<a href="index.html" class="imagen"><img src="../static/images/petshop_logo.png" alt="Dos perros en frente de una casa para mascotas" title="Logo tienda de mascotas"></a>
	<nav th:replace="layouts/nav :: nav"></nav>
	<section>
		<!-- la unica forma que encontramos para poner un borde es usando border como atributo -->
		<table class="tabla" style="width: 40%" border="1">
		<tr>
			<th>Dias</th>
			<th>Lunes</th>
			<th>Martes</th>
			<th>Miercoles</th>
			<th>Jueves</th>
			<th>Viernes</th>
			<th>Sabado</th>
		</tr>
		<tr>
			<td><strong>Horario</strong></td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
			<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
			<td><strong>Paseador</strong></td>
			<td>Juan Perez</td>
			<td>Lucas Diaz</td>
			<td>Juan Perez</td>
			<td>Maria Gomez</td>
			<td>Lucas Diaz</td>
			<td>Maria Gomez</td>
		</tr>
		</table>
	</section>
	<footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>