<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scaleble=no">
	<title>Servicios</title>
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<nav th:replace="~{layouts/nav :: nav}"></nav>
	<header>
	<div class="card-header">
		<h1><strong>Servicios de Paseos</strong></h1>
	</div>
	</header>
	<div class="container-fluid cuerpo">
		<table class="table caption-top">
		<tr>
			<th scope="col" class="text-dark"><strong>Dia</strong></th>
			<th scope="col" class="text-dark"><strong>Paseador</strong></th>
			<th scope="col" class="text-dark"><strong>Horario</strong></th>
			<th scope="col" class="text-dark"><strong>Acciones</strong></th>
			
		</tr>
		<tr th:each="serv: ${servicios}">
			
			<td th:text="${serv.dia}"></td>
			<td th:text="${serv.paseador}"></td>
			<td th:text="${serv.horario}"></td>
			<td><a th:href="@{/servicio/editar/}+${serv.paseador}"><i class="editar-servicio fa-regular fa-pen-to-square"></i></a>
				<a th:href="@{/servicio/eliminar/}+${serv.paseador}"><i class="eliminar-servicio fa-solid fa-trash-can"></i></a></td>
		</tr>
		</table>
	</div>
	<section class="tabla">
	</section>
	<div class="guardar">
		<a th:href="@{/servicio/nuevo}"><i class="agregar fa-solid fa-circle-plus"></i></a>
	</div>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascrip" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="https://kit.fontawesome.com/f80946207f.js"></script>
</body>
</html>