<!DOCTYPE html>
	<html>
		<body>
			<h1>Productos:</h1>
			<li>Peine</li>
			<p>Ideal para mascotas con mucho pelaje, para eliminar los nudos, y desenrredar el pelaje del animal. Y en otro caso quitar el exceso de pelaje.<p>
			<li>Rascador</li>
			<p>El Rascador para Gatos es ideal para ellos, para evitar las rasgaduras en sofas u colchones, adenas en ella pueden dormir y jugar por su amplia estructura.<p>
			<li>Transportadora</li>
			<p>Sirve para transportar al animal, ya sea al veterinario u otros lugares, vienen de distintas formas, tamaños y colores.<p>
			<li>Comedor y Bebedor</li>
			<p>Se usa para poner alimentos tantos liquidos como solidos.<p>
			<li>Collar</li>
			<p>Viene de diferentes tamanos desde el Talle 1 hasta el Talle 5, para toda raza de animales, y en diferentes colores y estilos.<p>
			<li>Kit Sanitario</li>
			<p>Es un Kit muy util viene con la pala para levantar las heces del Felino, y para que el Felino no haga sus necesidades en cualquier lugar del hogar.<p>
			<li>Mochila Transportadora</li>
			<p>Es una mochila muy util, ideal para pasear al Felino o Canino, para llevarlo al parque, o a pasear, tiene una ventana transparente para que el la animal vea, y muy buena ventilacion.<p>
		</body>
	</html>