<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sucursales</title>
</head>
<body>
	<header>
		<h1>Sucursales</h1>
	</header>
	<div>
		<h2>SUCURSAL JUJUY-Palpalá</h2>
		<div>
			<p>Calle ledesma N°376<br>388 456 4416<br>Lunes a sábado de 8 a 22hs</p><br>
		</div>
	</div>	
	<section>
		<h3>SUCURSAL CENTRAL</h3>
		<div>
			<p>Av. General Belgrano N°3915<br>388 499 9999<br>Lunes a viernes de 9 a 20hs y Sábado y domingo 9 a 12:30hs</p><br>
		</div>
	</section>
	<section>
		<h3>SUCURSAL SALTA</h3>
		<div>
			<p>Av. Fuente Grande N°1088<br>387 154 8546<br>Lunes a sábado de 9 a 22hs</p><br>
		</div>
	</section>
	<section>
		<h3>SUCURSAL SANTA FE</h3>
		<div>
			<p>Calle Alverdi N°1400<br>342 147 8466<br>Lunes a sábado de 9 a 22hs</p><br>
		</div>
	</section>
	<section>
		<h3>SUCURSAL CÓRDOBA</h3>
		<div>
			<p>Av. San Martín N°5080<br>351 486 9588<br>Lunes a sábado de 08 a 20hs</p><br>
		</div>
	</section>
	<footer>
	<p> Patitas SA - 2023 &copy; Copyright
	</p>
	</footer>
</body>
</html>