<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Sucursales</h1>
	</header>
	<nav th:replace="layouts/nav :: nav"></nav>
	<section class="sedes">
				
		<div class="sede">
			<img src="../static/images/PetShop2.jpg" alt="Tienda de mascotas" style="width:400px;height:300px;">
			<h3>SUCURSAL SALTA</h3>
			<p>Av. Fuente Grande N°1088<br>387 154 8546<br>Lunes a sábado de 9 a 22hs  - Sábado y domingo 9 a 12:30hs</p><br>
		</div>
		
		<div class="sede">
			<img src="../static/images/PetShops.jpeg" alt="Tienda de mascotas" style="width:400px;height:300px;">
			<h3>SUCURSAL CENTRAL</h3>
			<p>Av. General Belgrano N°3915<br>388 499 9999<br>Lunes a viernes de 9 a 20hs - Sábado y domingo 9 a 12:30hs</p><br>
		</div>

		<div class="sede">
			<img src="../static/images/PetShop1.png" alt="Tienda de mascotas" style="width:400px;height:300px;">
			<h3>SUCURSAL JUJUY-Palpalá</h3>
			<p>Calle ledesma N°376<br>388 456 4416<br>Lunes a sábado de 8 a 22hs  - Sábado y domingo 9 a 12:30hs</p><br>
		</div>

		<div class="sede">
			<img src="../static/images/PetShop5.png" alt="Tienda de mascotas" style="width:400px;height:300px;">
			<h3>SUCURSAL CÓRDOBA</h3>
			<p>Av. San Martín N°5080<br>351 486 9588<br>Lunes a sábado de 08 a 20hs  - Sábado y domingo 9 a 12:30hs</p><br>
		</div>

		<div class="sede">
			<img src="../static/images/PetShop3.jpeg" alt="Tienda de mascotas" style="width:400px;height:300px;">
			<h3>SUCURSAL SANTA FE</h3>
			<p>Calle Alverdi N°1400<br>342 147 8466<br>Lunes a sábado de 9 a 22hs  - Sábado y domingo 9 a 12:30hs</p><br>
		</div>
	</section>
	<footer th:replace="layouts/footer :: footer"></footer>
</body>
</html>